/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
/*
=============== 
Variables
===============
*/

.light-theme {
  --background: hsl(0, 0%, 98%);
  --secondary: hsl(0, 0%, 100%);
  --title: hsl(0, 0%, 100%);
  --text-color: hsl(235, 19%, 35%);
  --text-color-secondary: hsl(236, 9%, 61%);
  --blue-select: hsl(229, 100%, 65%);
  --shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  --border-bottom-task: hsl(233, 11%, 84%);
  --linear-gradient: linear-gradient(
    to bottom right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --selected-task: hsl(280, 87%, 65%);
  --border: 1px solid hsl(233, 14%, 35%);
  --scrollbar-color: hsl(236, 9%, 61%);

  --ff-primary: 'Josefin Sans', sans-serif;
}

.dark-theme {
  --background: hsl(235, 21%, 11%);
  --secondary: hsl(235, 24%, 19%);
  --title: hsl(0, 0%, 100%);
  --text-color: hsl(234, 39%, 85%);
  --text-color-secondary: hsl(233, 14%, 35%);
  --blue-select: hsl(229, 100%, 65%);
  --shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  --border-bottom-task: hsl(234, 11%, 52%);
  --linear-gradient: linear-gradient(
    to bottom right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --border: 1px solid hsl(233, 14%, 35%);
  --selected-task: hsl(280, 87%, 65%);
  --scrollbar-color: hsl(233, 14%, 35%);
  --ff-primary: 'Josefin Sans', sans-serif;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: var(--background);
  font-size: 18px;
  transition: 0.3s all ease-in;
}
@media screen and (min-width: 500px) {
  body {
    background-size: auto;
  }
}
@media screen and (min-width: 1440px) {
  body {
    background-size: contain;
  }
}

img {
  width: 100%;
  display: block;
}

main {
  min-height: 100vh;
}
.todo-container {
  width: 85vw;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .todo-container {
    width: 50vw;
    max-width: 600px;
  }
}

input:focus {
  outline: none;
}
/*
=============== 
Header
===============
*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-top: 5rem;
  margin-bottom: 3.5rem;
}

.header h1 {
  color: var(--title);
  letter-spacing: 8px;
  font-size: 2rem;
}

.light-mode {
  cursor: pointer;
  height: 1.8rem;
  width: 1.8rem;
}
.light-mode:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
/*
=============== 
Form
===============
*/

.form-control {
  display: flex;
  align-items: center;
}

.form-input {
  font-family: var(--ff-primary);
  background-color: var(--secondary);
  width: 100%;
  height: 3.5rem;
  padding: 0 1rem;
  font-size: 1rem;
  border: transparent;
  border-radius: 0.5rem;
  color: var(--text-color);
}
.form-control input {
  appearance: none;
}

.form-btn {
  display: none;
}

/*
=============== 
Tasks
===============
*/
.tasks {
  margin-top: 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background: var(--secondary);
  max-height: 21rem;
  overflow-y: auto;
}
.tasks::-webkit-scrollbar {
  width: 5px;
}
.tasks::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 4px;
}
.tasks::-webkit-scrollbar-track {
  background-color: transparent;
}

.tasks-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary);
  padding: 0 1rem;
  height: 3.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: var(--text-color-secondary);
  font-size: 1rem;
}
.tasks-info-wide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0 1rem;
  height: 3.5rem;
  font-size: 1rem;
  color: var(--text-color-secondary);
}

.tasks-info-completed {
  cursor: pointer;
}
.tasks-info-completed:hover {
  color: var(--text-color);
}
/*
=============== 
Single Task
===============
*/

.single-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary);
  border-bottom: 1px solid var(--border-bottom-task);
  height: 3.5rem;
  padding: 0 1rem;
}
.single-task:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.single-task-content {
  display: flex;
  align-items: center;
  background: var(--secondary);
}
.checkbox-container label {
  margin-left: 1rem;
  font-size: 1rem;
  color: var(--text-color);
  vertical-align: bottom;
  cursor: pointer;
}
.checkbox-container input[type='checkbox'] {
  appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: var(--border);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.checkbox-container input[type='checkbox']:hover {
  border-color: var(--selected-task);
}

.checkbox-container input[type='checkbox']:checked {
  background-image: var(--linear-gradient);
  border: transparent;
}
.checkbox-container input[type='checkbox']::before {
  position: absolute;
  content: url('./images/icon-check.svg');
  padding-left: 5px;
  line-height: 22px;
  transform: scale(0);
  transition: 0.3s all ease-in-out;
}
.checkbox-container input[type='checkbox']:checked::before {
  transform: scale(1);
  border: transparent;
}
.task-cross-btn {
  border: transparent;
  background: transparent;
  cursor: pointer;
}

.task-cross {
  height: 1.3rem;
  width: 1.3rem;
}

.no-tasks {
  background: var(--secondary);
  height: 3.5rem;
  display: grid;
  place-items: center;
  margin-top: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  border-bottom: 1px solid var(--dark-grayish-blue);
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  color: var(--text-color);
}

/*
=============== 
Selection Task
===============
*/
.selection-task {
  background: var(--secondary);
  height: 3.5rem;
  display: grid;
  place-items: center;
  margin-top: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  color: var(--text-color-secondary);
}
.selection-task-center {
  display: grid;
  grid-template-columns: repeat(3, 0.8fr);
}
.selection-task p {
  cursor: pointer;
}
.selection-task p:hover {
  color: var(--text-color);
  transition: 0.3s all ease-in-out;
}
.selection-task-selected {
  color: var(--blue-select);
}

.selection-task-wide {
  color: var(--text-color-secondary);
}
.selection-task-center-wide {
  display: grid;
  grid-template-columns: repeat(3, 0.8fr);
}
.selection-task-wide p {
  cursor: pointer;
}
.selection-task-wide p:hover {
  color: var(--text-color);
  transition: 0.3s all ease-in-out;
}
.selection-task-selected {
  color: var(--blue-select);
}
.completed-empty {
  width: 7.65rem;
}
/*
=============== 
Footer
===============
*/
footer {
  display: grid;
  place-items: center;
  margin-top: 3rem;
  color: var(--text-color-secondary);
  font-size: 1rem;
}
